.search {
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;

    &__info {
       position: relative;
       top: 0;
       left: 50%;
       transform: translate(-50%, 0);
    }

    &__title {
        padding: 15px 0;
    }

    width: 100%;
    height: 100%;

    &-box {
        input {
            font-size: 1.3rem; 
            border: 1px solid #C1C1C1;
            background-color: white;
            border-radius: 10px 10px 0px 0px;
            transition: .2s;
            padding: 9px 14px;
            vertical-align: 4px;
            width: 255px;
        }
    }
    &__list {
        // position: absolute;
        height: 300px;
        width: 100%;
        max-width: 260px;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            width: 8px;
        }
        &::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb{
            background-color: #fff;
            outline: none;
            border-radius: 10px;
        }
    }
    &__list-item {
        cursor: pointer;
        padding: 10px;
        margin: 2px;
        display: flex;
        background-color: #272727;

        &:hover {
            background-color: #383838;
        }
    }
    &__list-img {
        img {
            width: 50px;
        }
    }
    &__list-info {
        padding: 10px;
    }

    &__img {
        width: 100%;
        height: 100%;
        max-width: 400px;
    }
}

.result {
    max-width: 900px;
    margin: 0 auto;

    &__img {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        img {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
        }
        iframe {
            margin: 0 auto;
        }
    }
    &__info {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        text-align: center;
        padding: 50px 0;
        * {
            padding: 3px 0;
        }
    }
    &__title {
        font-size: 3rem;
    }
    &__misc-info {
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    &__trailer {
        width: 100%;
        min-height: 300px;
        max-width: 500px;
    }
}

@media screen and (max-width: 800px) {
    .result {
        &__img{
            display: flex;
            flex-direction: column;
        }
    }
}

