

.main {
    // max-height: 748px;
    &__logo {
        cursor: default;
        font-weight: 500;
        font-size: 2rem;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        p {
            color: rgb(163, 163, 255);
        }

        span {
            color: #fff;
        }
    }
    &__swiper {
       min-height: 648px;

        &_1{
            background: linear-gradient(269.96deg, rgba(29, 29, 29, 0) 0.04%, rgba(29, 29, 29, 0.8) 99.5%), url("../img/main-bg-1.png"), no-repeat;
            background-size: cover;
        }
        
        &_2 {
            background: linear-gradient(269.96deg, rgba(29, 29, 29, 0) 0.04%, rgba(29, 29, 29, 0.8) 99.5%), url("../img/main-bg-2.png"), no-repeat;
            background-size: cover;
        }

        &_3 {
            background: linear-gradient(269.96deg, rgba(29, 29, 29, 0) 0.04%, rgba(29, 29, 29, 0.8) 99.5%), url("../img/main-bg-3.png"), no-repeat;
            background-size: cover;
        }
    }
    
    &__info  {
        
    }

    &__text {
        
    }

    &__title {
        padding: 16px 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__description {
        line-height: 32px
    }

    &__button {
        cursor: pointer;
        display: inline-block;
        margin: 16px 0; 
        border: 0.5px solid #fff;
        padding: 20px 50px;
        border-radius: 30px;
        transition: all 0.3s;
        background-color: transparent;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: #000;
        }
   }

   &__player {
   }
}

@media screen and (max-width: 900px) {
    .main {
        // max-height: 900px;

        &__logo {
            display: none;
        }
    }
    .main__info {
        padding: 60px 50px;
    }
}