* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1D1D1D;
    color: #fff;
    overflow-x: hidden;
}

a,
a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

.none {
    display: none !important;
}

.app {
    position: relative;
}

.container {
    padding: 0 20px;
    max-width: 1280px;
    margin: 0 auto;
}

.info {
    padding: 150px 236px;
    max-width: 1032px;
}

ul {
    list-style: none;
}

// .main,
// .container {
//     display: none !important;
// }

// .app .result {
//     display: none;
// }