* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #000;
    color: #fff;
}

a,
a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

.none {
    display: none !important;
}

.app {
    position: relative;
}